@model IEnumerable<CommonEntities.Student>

@{
    ViewData["Title"] = "List Of Students";
}

<div class="jumbotron">

    <h1 class="text-center">@ViewData["Title"]</h1>
</div>
<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>HallTicketNumber</th>
            <th>FullName</th>
            <th>PhoneNumber</th>
            <th>FatherName</th>
            <th><a asp-action="AddorEdit">Create</a></th>
        </tr>
        
    </thead>
    <tbody>
        @foreach (var Student in Model)
        {
            <tr>
                <td>@Student.HallTicketNumber</td>
                <td>@Student.FullName</td>
                <td>@Student.MobileNumber</td>
                <td>@Student.FatherName</td>
                <td>
                    <a asp-action="AddorEdit" asp-route-id="@Student.StudentNumber">Edit</a>
                    <a asp-action="Delete" asp-route-id="@Student.StudentNumber">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
