@model System.Data.DataTable

@{
    ViewData["Title"] = "List Of Students";
}

<div class="jumbotron">

    <h1 class="text-center">@ViewData["Title"]</h1>
</div>
<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>HallTicketNumber</th>
            <th>FullName</th>
            <th>PhoneNumber</th>
            <th>FatherName</th>
            <th><a asp-action="AddorEdit"></a></th>
        </tr>
        
    </thead>
    <tbody>
        @for(int i=0;i<Model.Rows.Count; i++ )
        {
            <tr>
                <td>@Model.Rows[i]["HallTicketNumber"]</td>
                <td>@Model.Rows[i]["FullName"]</td>
                <td>@Model.Rows[i]["MobileNumber"]</td>
                <td>@Model.Rows[i]["FatherName"]</td>
                <td>
                    <a asp-action="AddOrEdit" asp-route-id="@Model.Rows[i]["StudentNumber"]">Edit</a>
                    <a asp-action="Delete" asp-route-id="@Model.Rows[i]["StudentNumber"]">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
